@model Project_SLAY.Models.Account

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descrtiption)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descrtiption)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProductTyoe)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProductTyoe)
        </dd>
    </dl>
</div>
@if (User.Identity.IsAuthenticated)
{
    if (User.IsInRole("Customer"))
    {
        <a asp-action="AddToCart" asp-controller="Orders" asp-route-productID="@Model.ProductID">Add To Cart</a>
        <span>|</span>
    }
    if (User.IsInRole("Admin"))
    {
        <h5>Suppliers for this Product</h5>
        <table class="table table-bordered">
            <tr>
                <th>Supplier Name</th>
            </tr>
            @foreach (StockPortfolio supplier in Model.Suppliers)
            {
                <tr>
                    <td>@supplier.SupplierName</td>
                </tr>
            }
        </table>
    }
}
<div>
    <a asp-action="Index">Back to List</a>
</div>
